body {
    background-color: #D2E1E6;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

p,
figcaption {
    Font-family: 'PT Serif', serif;
}

h1,
h2 {
    color: #2E5984;
    font-weight: 600;
}

h1 {
    font-size: 2.25em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

h4 {
    color: #4D4C5C;
    font-weight: 200
}

.logo img {
    width: 75px;
}

.logo h4 {
    display: inline;
}

.intro img {
    margin: 0 auto;
    display: block;
}

figcaption {
    text-align: center;
    padding: .5em 0;
}

.right-img {
    float: right;
    padding: 0 0 1em 1em;
}

.left-img {
    float: left;
    padding: 0 1em 0 1em;
    margin: 0;

}